@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: "archivo narrow", helvetica, sans-serif;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.carousel {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease-in-out;
}

.carousel-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  color: white;
}

.card-description h1 {
  font-size: 2rem;
  margin: 0 2rem 2rem;
}

.card-description p {
  font-size: 0.9rem;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(43, 43, 43, 0.5);
  padding: 2rem;
}

.floating-text {
  padding: 1rem;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-slide:nth-child(2) > .floating-text {
  bottom: 5rem;
  right: 0;
  width: 15rem;
}

.carousel-slide:nth-child(3) > .floating-text {
  top: 3rem;
  left: 0;
  width: 15rem;
}

.carousel-slide:nth-child(4) > .floating-text {
  left: 2rem;
  bottom: 2rem;
  width: 17rem;
}

.carousel-slide:nth-child(5) > .floating-text {
  top: 20rem;
  right: 0;
  width: 15rem;
}

.carousel-slide:nth-child(6) > .floating-text {
  top: 26rem;
  left: 0;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-slide:nth-child(7) > .floating-text {
  top: 5rem;
  width: 20rem;
}

.carousel-slide:nth-child(8) > .floating-text-container > .floating-text {
  right: 0;
  left: 0;
  bottom: 12rem;
  margin: auto;
  width: 15rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.carousel-slide:nth-child(8) > .floating-text-container > .btn-scroll-to-top {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 5rem;
  height: 5rem;
  width: 6rem;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
  margin: 0 auto;
}

.btn-scroll-to-top > svg {
  width: 5rem;
  height: 5rem;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s linear;
}

.btn-scroll-to-top:hover > svg {
  color: #ffffff;
  transform: translateY(-5%);
  animation: 0.5s ease-in infinite bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.carousel-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 30%;
  transform: translateY(99%);
}

.nav-btn {
  min-width: 0.8rem;
  min-height: 0.8rem;
  background-color: #303030;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 50%;
  cursor: pointer;
  display: hidden;
  margin-bottom: 0.75rem;
}

.nav-btn:hover {
  background-color: #fff;
}

.nav-btn.active {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(96, 96, 96, 1) 90%
  );
  border: px solid #b1b1b1;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
  .card-description h1 {
    font-size: 3rem;
  }

  .card-description p {
    font-size: 1.2rem;
  }

  .carousel-slide:nth-child(2) > .floating-text {
    width: 30rem;
  }

  .carousel-slide:nth-child(3) > .floating-text {
    width: 25rem;
  }

  .carousel-slide:nth-child(4) > .floating-text {
    top: 26rem;
    right: auto;
    bottom: auto;
    left: 5rem;
    width: 40rem;
  }

  .carousel-slide:nth-child(5) > .floating-text {
    top: 20rem;
    right: 0;
    width: 40rem;
  }

  .carousel-slide:nth-child(6) > .floating-text {
    top: 26rem;
    left: 8rem;
    width: 30rem;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .carousel-slide:nth-child(7) > .floating-text {
    top: 0;
    left: 10rem;
    width: 40rem;
  }

  .carousel-slide:nth-child(8) > .floating-text-container > .floating-text {
    right: 0;
    left: 0;
    bottom: 20rem;
    width: 35rem;
    font-size: 2rem;
  }

  .carousel-slide:nth-child(8) > .floating-text-container > .btn-scroll-to-top {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5rem;
    height: 5rem;
    width: 6rem;
  }

  .nav-btn {
    display: block;
  }
}

@media (min-width: 768px) and (max-height: 559px) {
  .card-description h1 {
    font-size: 5rem;
  }

  .card-description p {
    font-size: 2rem;
  }

  .nav-btn {
    display: block;
  }
}

@media (min-width: 1024px) and (min-height: 560px) {
  .card-description h1 {
    font-size: 4rem;
  }

  .card-description p {
    font-size: 1.5rem;
  }

  .nav-btn {
    display: block;
  }
}

@media (min-width: 1280px) and (min-height: 560px) {
  .card-description h1 {
    font-size: 5rem;
    margin: 0 2rem 5rem 2rem;
  }

  .card-description p {
    font-size: 2rem;
    margin-bottom: 8rem;
  }

  .nav-btn {
    display: block;
    min-height: 1rem;
    min-width: 1rem;
  }
}
